.edit-divisions-page {
	.icon-gray-clickable {
		color: rgb(140,140,140);
		&:hover {
			color: black;
			cursor: pointer;
		}
	}
	a {
		color: #19b724;
	}
	.dropdown-toggle::after {
    	display:none
	}
	padding-top: 50px;
	background-color: rgb(250,250,250);
	font-size: 16px;
	font-weight: lighter;
	.header {
		width: 100%;
		.title-wrapper {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			.name {
				font-size: 44px;
				font-weight: lighter;
				color: rgb(80,80,80);
				margin-right: 20px;
			}
			.edit, .delete {
				margin: 0px 10px;
			}
			.edit {
				font-size: 20px;
				&:hover {
					cursor: pointer;
				}
			}
			.delete {
				font-size: 20px;
				color: rgb(80,80,80);
			}
		}
		.edit_division {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			#division_name {
				width: 300px;
			}
			.form-control, .btn-submit {
				border-radius: 300px;
				height: 30px;
				font-size: 14px;
				color: rgb(80,80,80);
				text-align: center;
			}
			.division_name {
				margin-bottom: 14px;
			}
			.btn-submit {
				color: white;
				background-color: #19b724;
				&:hover {
					opacity: 0.6;
				}
			}
		}
	}

	.division-section {
		display: flex;
		flex-direction: row;
		margin-top: 50px;
		.categories-block {
			padding: 10px 20px;
			width: 250px;
			background-color: rgb(245,245,245);
			.categories {
				margin-top: 20px;
			}
			.category {
				margin-bottom: 6px;

				&:hover {
					cursor: pointer;
					color: #19b724;
				}
			}
		}
	}
}








