.index-divisions-wrapper {
	display: flex;
	justify-content: center;
	.index-divisions-content {
		display: flex;
		flex-direction: row;
		margin-top: 60px;
		width: 1280px;
		.icon-gray-clickable {
			color: rgb(140,140,140);
			&:hover {
				color: black;
				cursor: pointer;
			}
		}
		a {
			color: #19b724;
		}
		.dropdown-toggle::after {
	    	display:none
		}
	}
}