.index-divisions-wrapper {
	display: flex;
	flex-direction: row;
	.division-wrapper {
		margin-right: 210px;
	}
	.divisions-menu {
		position: fixed;
		right: 0px;
		top: 60px;
		height: 100vh;
		padding-top: 200px;
		width: 210px;
		background-color: #f9f9e1;
	}
}