<div class="categories-menu-wrapper">
	<div class="categories-menu-content">
		
		<div class="categories">
			<% division_categories.each do |category| %>
				<div class="category">
					<%= category["name"] %>
				</div>
			<% end %>
		</div>

		<div class="dropdown icon-gray-clickable">
			<div class="dropdown-toggle" id="dropdownMenuButtonEditCategory" data-toggle="dropdown">
				<div class="new-category-title">
					<i class="fa fa-plus" aria-hidden="true"></i>
					Add category
				</div>
			</div>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButtonEditCategory">
			    <div class="dropdown-content-edit-form">
					<%= render "categories/form_tag", division_id: id %>
			    </div>

			</div>
		</div>

	</div>
</div>