<form action="/divisions/<%= id %>/edit" method="patch">
  New name:<br>
  <input type="text" name="name" value="<%= name %>"><br>
  <input type="hidden" name="id" value="<%= id %>"><br>
  <input type="submit" value="Submit">
</form>