.company_skills-block {
	padding: 30px;
	.division-category-header-wrapper {
		margin: 50px 0px 20px 0px;
		display: flex;
		.name {
			font-weight: bold;
			color: rgb(70,70,70);
		}
		.icon {
			margin-left: 10px;
		}
	}
	.company_skills {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		background-color: white;
		padding: 30px;
		box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
	}
	.company_skill-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		color: rgb(80,80,80);
		border: 1px solid rgb(80,80,80);
		border-radius: 100px;
		padding: 2px 12px;
		margin: 5px 5px;
		.icon {
			margin-left: 10px;
		}
	}

	.header {
		margin-top: 30px;
		width: 100%;
		.title-wrapper {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			.name {
				font-size: 44px;
				font-weight: lighter;
				color: rgb(80,80,80);
				margin-right: 20px;
			}
			.edit, .delete {
				margin: 0px 10px;
			}
			.edit {
				font-size: 20px;
				&:hover {
					cursor: pointer;
				}
			}
			.delete {
				font-size: 20px;
				color: rgb(80,80,80);
			}
		}
		.edit_division {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			#division_name {
				width: 300px;
			}
			.form-control, .btn-submit {
				border-radius: 300px;
				height: 30px;
				font-size: 14px;
				color: rgb(80,80,80);
				text-align: center;
			}
			.division_name {
				margin-bottom: 14px;
			}
			.btn-submit {
				color: white;
				background-color: #19b724;
				&:hover {
					opacity: 0.6;
				}
			}
		}
	}
}