.divisions-menu, .divisions-menu-content {
	height: 100vh;
	position: fixed;
	top: 0px;
	right: 0px;
	width: 200px;
}
.divisions-menu-content {
	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: #f9f9e1;
	font-size: 14px;
	padding: 30px 15px;
	.division {
		margin-bottom: 15px;
		&:hover {
			cursor: pointer;
			color: #19b724;
		}
	}
	.green-active {
		color: #19b724;
	}
}