.user-wrapper {
	font-size: 16px;
	margin: 5px 0px;
	background-color: white;
	padding: 10px 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);

	.email {
		width: 300px;
	}
	.icons {
		display: flex;
		flex-direction: row;
		align-items: center;
		.icon {
			margin: 0px 8px;
		}
		.admin-green {
			color: #19b724;
			&:hover {
				color: black;
			}
		}
		.admin-gray {
			color: rgb(200,200,200);
			&:hover {
				color: black;
			}
		}
		.icon-gray {
			color: rgb(200,200,200);
			&:hover {
				cursor: pointer;
				color: black;
			}
		}
	}
}