<div class="other-apps">
	<div class="dropdown">
		<i class="fa fa-th icon" aria-hidden="true" class="dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"></i>

		<div class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
			<div class="other-apps-content">
				<div class="roww">
					<%= link_to root_path, class: "link colo1" do  %>
						<i class="fa fa-pie-chart icon" aria-hidden="true"></i>
						<div class="text">
							WAY Data
						</div>
					<% end %>
					<a target="_blank" href="http://www.zep.de/" class="link colo2">
						<i class="fa fa-clock-o icon" aria-hidden="true"></i>
						<div class="text">
							WAY ZEP
						</div>
					</a>
				</div>
				<div class="roww">
					<a target="_blank" href="https://schulungssystem.waygroup.de/" class="link colo3">
						<i class="fa fa-file-text-o icon" aria-hidden="true"></i>
						<div class="text">
							W.H.A.T.
						</div>
					</a>
					<a target="_blank" href="http://www.waygroup.de/" class="link colo4">
						<i class="fa fa-home icon" aria-hidden="true"></i>
						<div class="text">
							Way Group
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
